{% extends "home.html" %}
{% load mptt_tags %}

{% block title %} Build {% endblock %}

{% block sidebar %}

<!-- Sidebar -->
<div id = "sidebar-wrapper">
	<ul class = "sidebar-nav">
		<li class="sidebar-brand">
            <input type="text" class="sidebar-search" placeholder="Search...">
        </li>
		{%recursetree nodes %}
			<li>
				<a data-id="{{node.id}}" href="#"> {{node.name}} </a>
				{% if not node.is_leaf_node %}
					<ul class="children">
						{{children}}
					</ul>
				{% endif %}
			</li>
		{% endrecursetree %}
	</ul>
</div>
{% endblock %}

{% block content %}
	<p>&nbsp;</p>

<p><strong>ARTICLE THREE - DEALING WITH SHARES</strong></p>

<p>&nbsp;</p>

	<div class="content">
<p><strong>3.01 Transfer of Shares</strong></p>

<p>Except as provided for in this Article Three, shareholders can only sell, transfer, dispose of or encumber their Shares if they first obtain the written consent of all the other Shareholders to such</p>

<p>disposition or encumbrance.</p>
</div>
<p>&nbsp;</p>
	<div class="content">
<p><strong>3.02 Endorsement of Certificates</strong></p>

<p>Share certificates shall state the following;</p>

<p>&quot;The shares represented by this certificate are subject to all the terms and conditions of an agreement dated , 20 , and filed at the registered office of the Corporation.&quot;</p>

<p>&nbsp;</p>
</div>

	<div class="content">
<p><strong>3.03 Issue of Additional Shares</strong></p>

<p>If any additional shares are to be issued from treasury, the Corporation shall first offer such shares to the Shareholders by giving them notice of the Corporation&rsquo;s intention to issue additional shares and the number and class to be issued. The Shareholders shall have the right to purchase the offered shares pro rata based upon the number of Shares beneficially owned by each Shareholder at the date notice is given of the offer. The Shareholders shall have 20 business days from the date of the notice to take up and pay for all or any of the of fered shares. The shares that have not been taken up and paid for within</p>

<p>the 20 business days may be offered and issued to such persons as the directors in their discretion determine, provided that such persons agree to be bound by and to become parties to this Agreement.</p>

<p>&nbsp;</p>
</div>
<p>&nbsp;</p>

	<div class="content">
<p><strong>3.04 Sale of Shares - Shotgun</strong></p>

<p>(1) Any Shareholder (&quot;Offeror&quot;) has the right at any time to give notice (&quot;Notice&quot;) to the other Shareholders (the &quot;Offerees&quot; and individually, an &quot;Offeree&quot;) and to the Corporation. The</p>

<p>Notice shall contain the following:</p>

<p>&nbsp;</p>

<p>(a) an offer by the Offeror to purchase all of the Shares beneficially owned by the Offerees (&quot;Offer to Purchase&quot;);</p>

<p>&nbsp;</p>

<p>(b) an offer by the Offeror to sell all of the Shares beneficially owned by the Offeror to the Offerees pro rata based upon the number of Shares beneficially owned by the Offerees (&quot;Offer to Sell); and</p>

<p>&nbsp;</p>

<p>(c) the price to be paid for each Share pursuant to the Offer to Purchase and the Offer to Sell, which shall be the same for both offers (&quot;Purchase Price&quot;).</p>

<p>&nbsp;</p>

<p>(2) Within 10 Business Days of Notice being given, each Offeree is entitled to accept either the Offer to Purchase or the Offer to Sell by giving notice of such acceptance to the Offeror, to the other Offeree and to the Corporation.</p>

<p>&nbsp;</p>

<p>(3) If the Offerees accept the Offer to Purchase, the Offerees shall sell and Offeror shall purchase all of the Shares beneficially owned by each Offeree at the Purchase Price and the transaction of purchase and sale shall be completed within 20 business days of the expiry of the 10 business day period specified in Section 3.04(2). The transaction shall be completed at the Corporation&rsquo;s registered office where the Offerees shall deliver the Shares with good, free and clear title and shall receive payment by certified cheque from the Offeror.</p>

<p>&nbsp;</p>

<p>(4) If the Offerees accept the Offer to Sell, the Offerees shall purchase,pro rata, based upon the number of Shares beneficially owned by the Offerees, and the Offeror shall sell all of the Shares at the Purchase Price and the transaction of purchase and sale shall be completed within 20 business days of the expiry of the 10 business day period specified in Section 3.04(2). The transaction shall be completed at the Corporation&rsquo;s registered office where the Offeror shall deliver the Shares with good, free and clear title and shall receive payment by certified cheque from the Offerees.</p>

<p>(5) If any Offeree does not accept either the Offer to Purchase or the Offer to Sell within the 10 business day period specified in Section 3.04(2), that Offeree shall be deemed to have accepted the Offer to Purchase of the Offeror and to have given notice of such acceptance pursuant to the provisions of Section 3.04(2) on the last business day upon which such notice may have been given.</p>

<p>&nbsp;</p>

<p><a name="pageContainer7"></a> (6) If one Offeree accepts or is deemed to have accepted the Offer to Purchase pursuant to the provisions of Section 3.04(2)or Section 3.04(5), respectively, (&quot;Selling Offeree&quot;) and another Offeree accepts the Offer to Sell of the Offeror pursuant to the provisions of Section 3.04(2) (&quot;Purchasing Offeree&quot;), the Purchasing Offeree shall be entitled to purchase the Shares beneficially owned by the Offeror and the Shares beneficially owned by the Selling Offeree by giving notice of the exercise of that right to the Offeror, the Selling Offeree and to the Corporation within 10 business days of the expiry of the 10 business day period specified in Section 3.04(2) and, if the Purchasing Offeree give</p>

<p>s notice pursuant to the provisions of Section 3.04(6), the Offeror and the Selling Offeree shall sell the Shares beneficially owned by them to the Purchasing Offeree and such transaction of purchase and sale shall be completed within 20 business days of the date upon which the Corporation was given such notice by the Purchasing Offeree. The transaction shall be completed atthe Corporation&rsquo;s registered office where the Offeror and the Selling Offeree shall deliver the Shares with good, free a</p>

<p>nd clear title and shall receive payment by certified cheque from the Purchasing Offeree. (7) If the Purchasing Offeree fails to give notice under Section 3.04(6) within the 10 business day period, the Purchasing Offeree shall be deemed to have accepted the Offer to Purchase, and not accepted the Offer to Sell, and the provisions of Section 3.04(3) shall apply to both Offerees except that the transaction of purchase and sale shall be completed within 15 business days of the expiry of the 10 business day peri</p>

<p>od specified in Section 3.04(6). (8) If any Shareholder obliged to sell under Section 3.04 (&quot;Selling Shareholder&quot;) makes default in transferring all or any of the Shares to a Shareholder obliged to</p>

<p>purchase under Section 3.04 (&quot;Purchasing Shareholder&quot;), the Secretary of the Corporation is directed to receive the purchase money and enter the name of the Purchasing Shareholder in the registers of the</p>

<p>Corporation as the holder of the Shares. The purchase money shall be held in trust by the Corporation on behalf of the Selling Shareholder and not mix with the Corporation&rsquo;s assets. The receipt by the Secretary for the purchase money shall be a good discharge to the Purchasing Shareholder and, after the name has been entered in the registers of the Corporation, the validity of the proceedings shall not be questioned by any person. On the registration, the Selling Shareholder ceases to have any right to the Shares except the right to receive the purchase price received by the Secretary of the Corporation.</p>

<p>&nbsp;</p>

<p>(9) Two of the Shareholders may jointly give a Notice to another Shareholder under Section 3.04(1) and, in such event, the further provisions of Section 3.04 shall apply except that any Shares purchased by them under Section 3.04 shall be pro rata based upon the number of Shares beneficially owned by the Shareholders who gave the Notice.</p>

<p>&nbsp;</p>

<p>(10) Two of the Shareholders may jointly accept the Offer to Sell under Section 3.04(2) and, in such event, the further provisions of Section 3.04 shall apply except that the number of Shares to be purchased by each of them under Section 3.04 may be set out in the notice given by them under Section 3.04(2) and Section 3.04(9) provided that the aggregate of such numbers equals the number of Shares beneficially owned by the Offeror.]</p>
</div>	
{% endblock %}