{% extends "base.html" %}

{% block title %} Home {% endblock %}


{% block sidebar %}
<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <input type="text" class="sidebar-search" placeholder="Search...">
        </li>
        <li>
            <a href="#">Dashboard</a>
            <ul>
            <li>
            	<a href="#">Test</a>
            </li>
            </ul>
        </li>
        <li>
            <a href="#">Shortcuts</a>
        </li>        <li>
            <a href="#">Dashboard</a>
            <ul>
            <li>
            	<a href="#">Test</a>
            </li>
            </ul>
        </li>
        <li>
            <a href="#">Shortcuts</a>
        </li>        <li>
            <a href="#">Dashboard</a>
            <ul>
            <li>
            	<a href="#">Test</a>
            </li>
            </ul>
        </li>
        <li>
            <a href="#">Shortcuts</a>
        </li>        <li>
            <a href="#">Dashboard</a>
            <ul>
            <li>
            	<a href="#">Test</a>
            </li>
            </ul>
        </li>
        <li>
            <a href="#">Shortcuts</a>
        </li>        <li>
            <a href="#">Dashboard</a>
            <ul>
            <li>
            	<a href="#">Test</a>
            </li>
            </ul>
        </li>
        <li>
            <a href="#">Shortcuts</a>
        </li>        <li>
            <a href="#">Dashboard</a>
            <ul>
            <li>
            	<a href="#">Test</a>
            </li>
            </ul>
        </li>
        <li>
            <a href="#">Shortcuts</a>
        </li>        <li>
            <a href="#">Dashboard</a>
            <ul>
            <li>
            	<a href="#">Test</a>
            </li>
            </ul>
        </li>
        <li>
            <a href="#">Shortcuts</a>
        </li>        <li>
            <a href="#">Dashboard</a>
            <ul>
            <li>
            	<a href="#">Test</a>
            </li>
            </ul>
        </li>
        <li>
            <a href="#">Shortcuts</a>
        </li>        <li>
            <a href="#">Dashboard</a>
            <ul>
            <li>
            	<a href="#">Test</a>
            </li>
            </ul>
        </li>
        <li>
            <a href="#">Shortcuts</a>
        </li>        <li>
            <a href="#">Dashboard</a>
            <ul>
            <li>
            	<a href="#">Test</a>
            </li>
            </ul>
        </li>
        <li>
            <a href="#">Shortcuts</a>
        </li>        <li>
            <a href="#">Dashboard</a>
            <ul>
            <li>
            	<a href="#">Test</a>
            </li>
            </ul>
        </li>
        <li>
            <a href="#">Shortcuts</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
	{% autoescape on %}
	{% for p in paragraphs %}
		<p> {{ p.text }} </p>
	{% endfor %}
	{% endautoescape %}
{% endblock %}