{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
<h1>Welcome to Contraction</h1>
<p>Pick a template from the left to get started </p>
{% endblock %}

{%block sidebar %}
<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
   			Builder
        </li>
        <li>
            <a href="#">Dashboard</a>
        </li>
        <li>
            <a href="#">Shortcuts</a>
        </li>
    </ul>
</div>
{% endblock %}